<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="resources/css/css.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="left-header">
                <a href="gerenciador.html">usuarios</a>
                <a v-if="userdata.admin === 1 || userdata.cargo === 'vendedor'" href="produto.html">produtos</a>
                <a href="#">sair</a>

            </div>
            <div class="right-header">{{userdata.nome}}</div>
        </header>
        <main>
            <details class="list">
                <summary>Usuarios</summary>
                <table class="table">
                    <tr class="list-table">
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Senha (hash)</th>
                        <th>Cargo</th>
                        <th v-if="userdata.admin === 1">Ações</th>
                    </tr>
                    <tr v-for="user in usuarios" :key="user.nome">
                        <td>{{ user.nome }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.senha }}</td>
                        <td>{{ user.cargo }}</td>
                        <td class="td-actions" v-if="userdata.admin === 1">
                            <button class="edit" @click="abrirModal(user)">Editar</button>
                            <button class="delete" @click="deletar(user.nome)">Deletar</button>
                        </td>
                    </tr>
                </table>
            </details>
        </main>
        <div v-if="modalAberto" class="modal">
            <div class="modal-content">
                <span class="close" @click="fecharModal">&times;</span>
                <h2>Editar Usuário</h2>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" v-model="usuarioEditando.nome">
                <label for="email">Email:</label>
                <input type="email" id="email" v-model="usuarioEditando.email">
                <label for="cargo">Cargo:</label>
                <input type="text" id="cargo" v-model="usuarioEditando.cargo">
                <button @click="salvarAlteracoes">Salvar</button>
            </div>
        </div>
    </div>
</body>
<script src="resources/vue/vue.js"></script>
</html>